*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boarding-pass{
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header{
    background-color:#003b54;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header .icon{
    font-size: 24px;
}
.header .title{
    font-size: 20px;
    font-weight: bold;
}
.header .sub-title{
    font-size: 12px;
    font-style: italic;
}
.wrapper{
    /* width: 420px;
    background: blue;
    color: #fff; */
    display: flex;
    justify-content: space-between;
}
.input-box{
    width: 60%;
    padding: 20px;
    border-right: 1px solid #ddd;
    border: 2px solid rgba(255,255,255, .2);
}
input{
   padding: 8px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.input-box input::placeholder{
    color: gray;
}
form{
    display: flex;
    flex-direction: column;
}
.wrapper .remember-me-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 12.5px;
    margin: -15px 0 15px;
}
.remember-me-forgot label input{
    accent-color: #fff;
    margin-left: 6.3px;
}
.remember-me-forgot a{
    color:#003b54;
    text-decoration: none;
    font-weight: bold;
}
.remember-me-forgot a:hover{
    text-decoration: underline;
}
.button{
   background-color: #003b54;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}
.button:hover{
    background-color: #005a74;
}
.djatht{
    width: 40%;
    background-color:#f8f9fa;
    padding: 20px;
    text-align: left;
}
.details{
    margin-top: 70px;
}
.details p{
    font-size: 14px;
}
.register{
    margin: 10px 0;
    font-size: 12px;
}
.register p{
    color: black;
}
.register a{
    color:#003b54;
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
}