* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F5FDFF;
}

.about-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-content: center;
    text-align: center;
    background: linear-gradient(180deg, #8ECAE6, #F5FDFF);
    padding: 30px;
  }
  
.about-text{
    color: #023047;
    padding: 30px;
    margin: 10px;
}
.about-text h1{
    font-size: 70px;
    padding: 20px;
}
.about-text p{
    font-size: 20px;
    padding: 20px;
}
.ratings{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.ratings img{
    height: 40px;
    margin: 0px 20px;
}

/* pjesa e values section*/
.ourValues {
    padding: 40px 20px; 
    text-align: center;
}

.valuesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    align-items: center; 
    justify-content: center; 
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 80%;
}

.airport-image {
    max-width: 460px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.text {
    max-width: 600px;
    color: #023047;
    padding: 0 20px; 
    text-align: center;
}

.text h2 {
    font-size: 36px;
    line-height: 1.4;
    margin: 0 0 15px 0; 
    padding: 0; 
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0; 
    padding: 0; 
}

@media (min-width: 600px) {
    .valuesContainer {
        flex-direction: row;
        gap: 40px;
        align-items: center; 
    }

    .text {
        text-align: left; 
    }
}

/* pjesa e team section*/
.team-section {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.team-section h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #023047;
}
.team-section h2,p {
    margin: 30px;
}
.team-section h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #023047;
}
.team-container {
    margin: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.team-member {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    padding: 0; 
    text-align: center;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-5px);
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .social-icons {
    opacity: 1;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: invert(100%); 
}

.team-info h3 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
}

.team-info .line {
    display: block;
    width: 60px;
    height: 2px;
    background-color: #219EBC;
    margin: 5px auto;
}

.team-info p {
    margin-top: 15px;
    font-size:12px;
    color: #666;
}
