<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local</title>
    <link rel="stylesheet" href="Footer.css">
</head>
<body>
    <footer>
      <div class="socials">
        <img class="social-icon" src="./assets/instakuku.png" alt="Instalogo">
        <img class="social-icon" src="./assets/FB2-logo.png" alt="Xlogo">
        <img class="social-icon" src="./assets/Youtube-logo.png" alt="Youtubelogo">
        <img class="social-icon" src="./assets/linkedin-icon.png" alt="Linkedinlogo">
      </div>
      <div class="footerContainer">
        <ul>
            <li><a href="HomePage.php"><b>Home</b></a></li>
            <li><a href="Itineraries.php"><b>Itineraries</b></a></li>
            <li><a href="AboutUs.php"><b>About us</b></a></li>
            <li><a href=""><b>Our team</b></a></li>
        </ul>
      </div>
      <p id="copyright">&copy; <span id="currentYear"></span> Local. All rights reserved.</p>
    </footer>
<script>
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
</body>
</html>